.selectWidth {
    width: 20%;
}

.themeModeImg {
    height: 35px;
    width: 35px;
}

.themeMode {
    right: 10px;
    bottom: 10px;
}

.themeMode:hover {
    cursor: pointer;
}

.navLink {
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .selectWidth {
        width: 200px;
        margin-bottom: 7px;
    }

    .themeMode {
        position: static !important;
    }

    /* app-cart {
        display: none;
    } */
  }