.section {
    min-height: 65vh;
    position: relative;
}

.app-product {
    transition: .3s;
}
.app-product:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.box {
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gridProducts {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
  }

/* a span:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
} */

.filterSize {
    width: 25%;
    height: 60vh;
    left: 0px;
}

.searchContainerWidth {
    width: 100%;
}

.zIndex {
    z-index: 999;
}

.scroll-up {
    display: none;
    bottom: 12px;
    right: 12px;
    z-index: 10;
}

#showCart {
    display: none;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 50%;
    background-color: #32C161;
    position: fixed;
    right: 100px;
    top: 15px;
}

#showCart:hover {
    cursor: pointer;
}

.darkCard {
    background-color: #262626 !important;
    color: #fff;
}

.no-search-pic {
    width: 75%;
    height: 20%;
    box-shadow: rgba(236, 236, 236, 0.2) 0px 2px 8px 0px;
}


.darkModeTitle {
    color: #fff;
}

#filterResponsive {
    display: none !important;
}

#removeFilterBtn {
    position: absolute !important;
    bottom: 15px;
}

#filterBtnResponisve {
    display: none;
}

@media only screen and (max-width: 1700px) {
    #showCart {
        display: none !important;
    }
}

@media only screen and (max-width: 1655px) {
    #filter {
        display: none !important;
    }


    #filterBtnResponisve {
        display: block;
    }

    .box {
        box-shadow: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #filterResponsive {
        display: block !important;
        position: sticky !important;
        top: 70px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 10;
    }

    #removeFilterBtn {
        position: absolute !important;
        bottom: 5px;
        right: 5px;
    }

    #selectSort {
        width: 25%;
    }
}

@media only screen and (max-width: 991px) {
    #selectSort {
        width: 50%;
    }
}

@media only screen and (max-width: 952px) {
    .grid-products {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
    }
}

@media only screen and (max-width: 630px) {
    .grid-products {
        grid-template-columns: repeat(1, minmax(280px, 1fr));
    }
}